@tailwind base;
@tailwind components;
@tailwind utilities;

.p-datatable .p-column-filter input {
  color: black !important;
}

/* Page buttons */
.p-paginator .p-paginator-page,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-first,
.p-paginator .p-paginator-last {
  color: #ffffff; /* gray-900 */
}

/* Active page */
.p-paginator .p-paginator-page.p-highlight {
  background-color: #3b82f6; /* blue-500 */
  color: #ffffff;
  border-radius: 0.375rem;
}

.shadow-selected {
  box-shadow: 0 0 10px 2px #3B82F6;
  border: 2px solid #3B82F6;
  transition: all 0.2s ease-in-out;
}

